<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" style="color: #01907e;"></ion-back-button>
    </ion-buttons>

    <ion-title style="color: #01907e;">Nueva reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="reserva-page ion-padding" mode="ios">
  <div class="container">

    <h1 class="title">Generar nueva reserva</h1>
    <p class="subtitle">Completa los siguientes datos para crear tu reserva</p>

    <form [formGroup]="reservaForm">
      <ion-card class="form-card">

        <!-- AULAS -->
        <ion-item lines="none">
          <ion-select 
            formControlName="aulaId" 
            interface="popover" 
            placeholder="Aula">
            <ion-select-option 
              *ngFor="let aula of aulas" 
              [value]="aula.id">
              {{ aula.nombre }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <!-- FECHA -->
        <ion-item lines="none">
          <ion-datetime 
            formControlName="fecha" 
            presentation="date"
            prefer-wheel="false">
          </ion-datetime>
        </ion-item>

        <!-- HORA INICIO -->
        <ion-item lines="none">
          <ion-label position="floating">Hora inicio</ion-label>
          <ion-datetime 
            formControlName="horaInicio"
            presentation="time">
          </ion-datetime>
        </ion-item>

        <!-- HORA FIN -->
        <ion-item lines="none">
          <ion-label position="floating">Hora fin</ion-label>
          <ion-datetime 
            formControlName="horaFin"
            presentation="time">
          </ion-datetime>
        </ion-item>

        <!-- MOTIVO -->
        <ion-item lines="none">
          <ion-label position="floating">Motivo</ion-label>
          <ion-textarea 
            formControlName="motivo"
            auto-grow="true">
          </ion-textarea>
        </ion-item>

      </ion-card>

      <ion-button 
        expand="block" 
        class="btn-reservar"
        (click)="crearReserva()"
        [disabled]="reservaForm.invalid">
        Crear reserva
      </ion-button>
    </form>

  </div>
</ion-content>
